[profile.default]
src = "src"
out = "out"
libs = ["../lib"]
test = "test"
script = "script"

solc_version = "0.8.20"
optimizer = true
optimizer_runs = 200
via_ir = false

[fmt]
line_length = 100
tab_width = 4
bracket_spacing = true
